// app global css in SCSS form

@use 'variables';
@use 'search';
@use 'responsive';

.infinate-list {
    // max-height: 500px;
    // height: 300px;
  }

//   @use 'variables'
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// modal styles
.close-modal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer !important;
  background: none;
}

// q table list styles
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.loading-overlay.show {
  display: block;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add your loading spinner or animation styles here */
}

// responsive styles for tables TODO: move to responsive.scssss
// q-expansion-items that are popups will NEVER have a border
.q-expansion-item--popup > .q-expansion-item__container {
  border: 0px;
}
.q-expansion-item__container > .q-item {
  padding: 0px;
}