.banner-container {
    position: relative;
    width: 100%;
    height: 70vh;
    margin-top: -2rem;
    
}

.banner-bg {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    position: absolute;

}

.banner-overlay {
    background: rgb(218, 163, 22);
    opacity: .7;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.banner-text {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    color: white;
    width: 70%;
    margin-left: 15%;
    position: relative;
    z-index: 10;    
}